@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background-color: black;
    color: #F6F6F6;
    height: 100vh;
}

.title-light-blue{
    color: #22D4FD;
}

.container{
    display: flex;
    align-items: center;
    margin: 10% 15%;
    justify-content: space-between;
}

.left-container{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container-title{
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.description-container{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.links-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.blue-link{
    width: 378px;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: #F6F6F6;
    border: 2px solid #22D4FD;
}

.links-container-subtitle{
    font-family: "Krona One", sans-serif;
    font-size: 24px;
    font-weight: 400;
}