@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color:#000000;
    --secondary-color:#F6F6F6;
    --tertiary-color: #22D4FD;
    --hover-color: #272727;
    /* font families */
    --montserrat-font: "Montserrat", sans-serif;
    --krona-font: "Krona One", sans-serif;
}

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.header{
    padding: 2%  0% 0% 15%;
}

.header-menu{
    display: flex;
    gap: 80px;
}

.header-menu-link{
    font-family: var(--montserrat-font);
    font-size: 24px;
    font-weight: 600;
    color: var(--tertiary-color);
    text-decoration: none;
}
.container{
    display: flex;
    align-items: center;
    padding: 6% 15%;
    justify-content: space-between;
}

.left-container{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container-title{
    font-size: 36px;
    font-family: var(--krona-font);
}

.title-light-blue{
    color: var(--tertiary-color);
}

.description-container{
    font-size: 24px;
    font-family: var(--montserrat-font);
}

.links-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.blue-link{
    width: 378px;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--montserrat-font);
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: var(--secondary-color);
    border: 2px solid var(--tertiary-color);
    display: flex;
    justify-content: center;
    gap: 16px;
}

.blue-link:hover{
    background-color: var(--hover-color);
}

.links-container-subtitle{
    font-family: var(--krona-font);
    font-size: 24px;
    font-weight: 400;
}

#profile-picture:hover{
    transition: transform 0.5s ease;
    transform: scale(1.05);
}

.footer{
    background-color: var(--tertiary-color);
    padding: 24px;
    color: var(--primary-color);
    text-align: center;
    font-family: var(--montserrat-font);
    font-size: 24px;
    font-weight: 400;
}